<h2>All Customers</h2>
<br>
<div id="fullCustomers">
  <% @customers = Customer.order("full_name ASC").each do |customer| %>
    <ul>
      <li><span><%= customer.full_name %></span></li>
      <% render 'customer' %>
      <li><%= customer.phone_number %></li>
      <li><%= customer.email %></li>
      <li><%= customer.notes %></li>
    </ul>
  <% end %>
</div>
<div id="links">
  <%= link_to "Alphabetized", alphabetized_path %>
  <br>
  <%= link_to "Customers Missing an Email", missing_email_path %>
</div>