<h2>Customers With Missing Email</h2>
<br>
<div id="fullCustomers">
  <% @customers = Customer.where(email: "").each do |customer| %>
    <ul>
      <li><span><%= customer.full_name %></span></li>
      <li><%= image_tag customer.image %></li>
      <li><%= customer.phone_number %></li>
      <li><%= customer.email %></li>
      <li><%= customer.notes %></li>
    </ul>
  <% end %>
</div>
<div id="links">
  <%= link_to "All Customers", customers_path %>
  <br>
  <%= link_to "Alphabetized", alphabetized_path %>
</div>